@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.content-container {
  background-color: #383f51;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.information {
  width: 25%;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-around;
}

#date,
#time {
  padding: 10px;
  color: #dddbf1;
}

#time {
  /*margin-left: auto;*/
}

.link-container {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  /*border: 1px solid red;*/
  align-items: center;
}

ul {
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid white;*/
  height: 50%;
}

ul h4,
ul li a {
  color: #dddbf1;
}
h4 {
  border-bottom: 2px solid #dddbf1;
  margin-bottom: 5px;
}

ul li a:hover {
  margin-left: 10px;
}

ul li {
  text-align: center;
  padding: 5px;
  width: 100%;
}

ul li a {
  transition: 0.5s;
  border-radius: 5px;
  width: 100%;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
