@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.content-container {
  background-color: #383f51;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.information {
  width: 25%;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-around;
}

#date,
#time {
  padding: 10px;
  color: #dddbf1;
}

#time {
  /*margin-left: auto;*/
}

.link-container {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  /*border: 1px solid red;*/
  align-items: center;
}

ul {
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid white;*/
  height: 50%;
}

ul h4,
ul li {
  color: #dddbf1;
}
h4 {
  border-bottom: 2px solid #dddbf1;
  margin-bottom: 5px;
}

ul li:hover {
  background-color: #dddbf1;
  color: #383f51;
}

ul li {
  width: 60%;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
  transition: 0.5s;
}
